- var environment = data.environment
html
  head
    title="suite results for " + environment
    link(rel="stylesheet", href="/css/styles.css", type="text/css")
    meta(name="description", content="a summary of test results for " + environment)
    meta(name="twitter:card" content="summary_large_image")
    meta(name="twitter:image" content="https://ghostinspector.com/assets/images/logo.png")
    meta(name="twitter:title" content="test results for " + environment)
    meta(name="viewport" content="width=device-width, initial-scale=1")
  body
    h1 suite results for 
      a(href=environment target="_blank") #{environment}
    p.info
      a.top-level-link(href="https://app.ghostinspector.com/suite-results/" + data.suiteResultId target="_blank") Ghost inspector suite results dashboard
      a.top-level-link(href="javascript:void(0)" onclick="toggleDetails(event)" data-open="false") Toggle open/close all
    ul.results
      each record, index in data.records
        - var environment = record.fields.environment;
        - var testName = record.fields.test_name;
        - var screenshot = record.fields.screenshot;
        - var screenshotCompareBaseline = record.fields.screenshot_compare_baseline ? record.fields.screenshot_compare_baseline : null;
        - var screenshotCompare = record.fields.screenshot_compare ? record.fields.screenshot_compare : null;
        - var testResult = record.fields.test_result;
        - var screenshotResult = record.fields.screenshot_result;
        - var screenshotDiff = record.fields.screenshot_diff;
        - var url = record.fields.url;

        li(class=testResult=="true"?"pass":undefined class=screenshotResult=="false"?"screenshot-fail":undefined class=testResult=="false"?"fail":undefined class=index%2===0?"even":"odd")
          div(class="status-box")
          h2 #{testName} (#{testResult==="true" ? "passing" : "failing" })
          p.url
            a(href=url) #{url}
          details
            summary Screenshots 
              if screenshotResult === "true"
                span passing
              else
                span failing, diff: #{((screenshotDiff*100).toPrecision(3))+'%'}
            ul.screenshots
              li
                if screenshot
                  div
                    p="this test screenshot"
                    img(src=screenshot)
                if screenshotCompareBaseline
                  div
                    p="baseline screenshot"
                    img(src=screenshotCompareBaseline)
                if screenshotCompare
                  div
                    p="screenshot diff"
                    img(src=screenshotCompare)
          if a11yScanResult
            - a11yScanResult = JSON.parse(a11yScanResult)
            details
              summary Accessibility 
                if a11yScanResult.length > 0
                  span (#{a11yScanResult.length} violations)
              each scanResult in a11yScanResult
                details(open)
                  summary=scanResult.description
                  each node in scanResult.nodes
                    div(class="offending-node")
                      div=node.html
    script.
      var allOpen = false;
      function toggleDetails(e) {
        var open = e.target.getAttribute('data-open') === 'false' ? false : true;
        e.target.setAttribute('data-open', !open)
        var details = document.querySelectorAll('details')
        for(var i=0; i<details.length; i++) {
          if(open) {
            details[i].removeAttribute('open')
          } else {
            details[i].setAttribute('open', true)
          }
        }
      }
