- var environment = data.environment
html
  head
    title= "suite results for " + environment
    link(rel="stylesheet", href="/css/styles.css", type="text/css")
    meta(name="description", content="a summary of test results for " + environment)
    meta(name="twitter:card" content="summary_large_image")
    meta(name="twitter:image" content="https://ghostinspector.com/assets/images/logo.png")
    meta(name="twitter:title" content="test results for " + environment)
  body
    h1 suite results for 
      a(href=environment target="_blank") #{environment}
    ul.results
      each record in data.records
        - var environment = record.fields.environment;
        - var testName = record.fields.test_name;
        - var screenshot = record.fields.screenshot;
        - var screenshotCompareBaseline = record.fields.screenshot_compare_baseline ? record.fields.screenshot_compare_baseline : null;
        - var screenshotCompare = record.fields.screenshot_compare ? record.fields.screenshot_compare : null;
        - var testResult = record.fields.test_result;
        - var screenshotResult = record.fields.screenshot_result;
        - var screenshotDiff = record.fields.screenshot_diff;

        li(class=testResult=="true"?"green":undefined class=screenshotResult=="false"?"yellow":undefined class=testResult=="false"?"red":undefined)
          h2=testName
          p.info
            strong.label passing:
            span.value=testResult
          p.info
            strong.label screenshot passing:
            span.value=screenshotResult
          p.info
            strong.label screenshot diff:
            span.value=screenshotDiff
          ul.screenshots
            li
              if screenshot
                div
                  img(src=screenshot)
              if screenshotCompareBaseline
                div
                  img(src=screenshotCompareBaseline)
              if screenshotCompare
                div
                  img(src=screenshotCompare)
