- var environment = data.results.meta.startUrl
html
  head
    title="suite results for " + environment
    link(rel="stylesheet", href="/css/styles.css", type="text/css")
    meta(name="description", content="a summary of test results for " + environment)
    meta(name="twitter:card" content="summary_large_image")
    meta(name="twitter:image" content="https://ghostinspector.com/assets/images/logo.png")
    meta(name="twitter:title" content="test results for " + environment)
    meta(name="viewport" content="width=device-width, initial-scale=1")
  body
  if Object.keys(data.results.data).length == 0
    p no results
  else
    - var suiteResultsDashboard = "https://app.ghostinspector.com/suite-results/" + data.results.meta.suiteResultId

    header
      h1 suite results
      ul
        li
          strong suite results dashboard: 
          a(href=suiteResultsDashboard target="_blank") #{suiteResultsDashboard}
        li
          strong env: 
          a(href=data.results.meta.startUrl target="_blank") #{data.results.meta.startUrl}
    div.container
      div.navigation
        ul
          if Object.keys(data.testList.failing).length > 0
            li.failing
              p screenshot failing:
              ul
                each test, key in data.testList.failing
                  li
                    a(href="#"+test._id) #{test.name}
          if Object.keys(data.testList.passing).length > 0
            li.passing
              p screenshot passing:
              ul
                each test, key in data.testList.passing
                  li
                    a(href="#"+test._id) #{test.name}
      div.results
        ul
          each test in data.results.data
            - var testName = test.name
            - var testResult = test.passing
            - var screenshotCompareResult = test.screenshotComparePassing
            - var baselineScreenshot = test.screenshot.baselineScreenshot
            - var screenshot = test.screenshot ? test.screenshot.original.defaultUrl : null
            - var screenshotCompare = test.screenshotCompare ? test.screenshotCompare.compareOriginal.defaultUrl : null

            li(class=screenshotCompareResult ? "pass" : "fail")
              h2
                a(name=test._id) #{testName}
              div(class=test.isMobile ? "is-mobile" : "")
                table(cellspacing="0", cellpadding="0", border="0")
                  tr
                    td
                      p baseline screenshot
                      img(src=baselineScreenshot)
                    td 
                      p this test screenshot
                      img(src=screenshot)
                    td
                      if screenshotCompare
                        p compare
                        img(src=screenshotCompare)
                      else
                        img(src=screenshot, style="visibility:hidden")
